.sidebar-nav {
    background: $dark-grey;
    
    


   &--itm {
    display: block;
    clear: both;

            a {
                display: block;
                padding: 17px 29px;
                color: #d8dfe5; 
                font-size: .9em;
                box-shadow: inset 0 0 0 0 $primary-color;
                -webkit-transition: all ease 0.4s;
                -moz-transition: all ease 0.4s;
                transition: all ease 0.4s; 

                 &:hover {
 
                    box-shadow: inset 340px 0 0 0 $primary-color;
                    color:#fff;
                }
            }

    }


     &--itm.active { 
        a {
        background: $primary-color;
        color:#fff;
        }
     }





}

   
