.content-area {

        h2 {
            margin-bottom: 30px;
        }





}


.backtotopscroll {
border-bottom: 2px solid $dark-grey;
padding: 10px 0;
width: 100%;
position: relative;
box-sizing: border-box;
margin: 2em 0 1em;
text-transform: uppercase;
font-size: .8rem;
    a {
    color: $primary-color;
    padding: 0 0 5px;
    display: block;
    text-decoration: underline;
    }
}





.anchor-links {

    width: 100%;
    margin-bottom:10px;


        @media (max-width:550px) {
        min-width:100%
        }

        &--itm {
            display: block;
            padding-left:0!important;
            background-image:none!important;
            margin:0!important;
        
            a {
                font-size:1.1rem;
                @extend .heading-font;
                font-weight:normal;
                  
    border-bottom: 1px solid #565656;
                padding: 12px 20px; 
                width: 100%;
                clear: both;
                display: block;
               
                color: #111;
                background: url(../images/icons/arrow-long.svg) top 21px right 18px no-repeat;
                padding-right: 40px;
                background-size:15px;
                transition: background .5s;
                

                &:hover {
                    background-color:$primary-color;
                    color:#fff;
                    border-bottom: 1px solid $primary-color;
                      background-size:15px;
                    // background: $primary-color  url(../images/icons/arrow-long-white.svg) top 21px right 18px no-repeat;
                    
                }
                }
        }
   }





// blockquote {
//     width: 100%;
//     margin: 0 0 30px;
//     display: inline-block;
//     position: relative;
//     height: auto;
//     background-color: $dark-grey;
//     padding: 2.3em;
//     text-align: left;
//     line-height: 1.5em;
//     border-left:none;

//     p {
//          color:#fff;
//          @extend .heading-font;
//          text-decoration:underline;
//              font-size: 1.3rem;
//     line-height: 1.5;
//     }

//     + p {
//            @extend .heading-font;
        
//              font-size: 1.3rem;
//     line-height: 1.5;
//     }

//     &:after {
//     content: ' ';
//     position: absolute;
//     width: 0;
//     height: 0;
//     left: 0px;
//     right: auto;
//     top: auto;
//     bottom: -20px;
//     border: 22px solid;
//     border-color: transparent transparent transparent $dark-grey;
//     }
// }

.home {

    .pe-7s-film {
        font-size: 30px!important
    }
}



.section-reversed {


background: $primary-color;
// background: rgba(244,115,33,1);
// background: -moz-linear-gradient(left, rgba(244,115,33,1) 0%, rgba(222,28,17,1) 100%);
// background: -webkit-gradient(left top, right top, color-stop(0%, rgba(244,115,33,1)), color-stop(100%, rgba(222,28,17,1)));
// background: -webkit-linear-gradient(left, rgba(244,115,33,1) 0%, rgba(222,28,17,1) 100%);
// background: -o-linear-gradient(left, rgba(244,115,33,1) 0%, rgba(222,28,17,1) 100%);
// background: -ms-linear-gradient(left, rgba(244,115,33,1) 0%, rgba(222,28,17,1) 100%);
// background: linear-gradient(to right, rgba(244,115,33,1) 0%, rgba(222,28,17,1) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47321', endColorstr='#de1c11', GradientType=1 );

background: $purple;


    > *,
    h4,
    p  {
        color: #fff;
    }


&__purple {
    background: $purple;
}


}


.case-study {

    p {
        margin-bottom: 5px;
    }

    margin-bottom: 20px;
}

.employers-sidebar {
    .icon-widget {
        clear: both;
    }
}

#rightcolumn {

    @media all and (min-width:1px) and (max-width:991px) { 

        clear: both
    
      }
    
    
}

.quote-sidebar {
    @media (max-width:991px) {
        display: none
    }
}